body
{
	margin: 0px;
    overflow: hidden;
}
.modal1
{
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

}
.modal-content
{
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 10px;
    opacity: 0.75;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-container
{
	padding: 16px;
}

/* The image used */
.bg-img
{
	background-image: url(../Images/915129.png);
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: relative;
	margin: 0px;
}

.text
{
	font-size: 18px;
	color: rgb(255, 255, 255);
	position: relative;
	padding: 4px 6px;
	text-align: Center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-minor
{
	font-size: 14px;
	color: rgb(255, 255, 255);
	position: relative;
	padding: 4px 6px;
	text-align: Center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button4
{
	padding: 15px 23px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
	height: 50px;
	position: relative;
	left: 40%;
	background-color: rgb(212, 138, 1);
	margin: 10px;
	color: black;
	border: 2px solid #000000;
	border-radius: 10px;
}
.line
{
	display: block;
	background-color: rgb(169 92 3);
	border-radius: 5px;
	height: 2px;
	width: 400px;
	left: 15%;
	position: relative;
}
a:link 
{
    text-decoration: none;
}

a:visited
{
    color: rgb(97, 97, 97)
}
a:hover
{
    text-decoration: underline;
}