body
{
    margin: 0px;
    overflow: hidden;
    font-family: Arial;
}
.text 
{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 6px;
}
.text-in
{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
	color:rgba(255, 255, 255, 0.8);
    padding: 6px;   
}
.splash-screen
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 200;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 90vh;
}
.splash-screen.display-none
{
    position: fixed;
    width: 1880px;
    height: 977px;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    color: white;
    z-index: -10;
    font-size: 18px;
    transition: 1s;
}
@keyframes fadeIn
{
    to
    {
        opacity: 1;
    }
}
.fadeIn
{
    opacity: 0;
    z-index: -11;
    animation: fadeIn 1s ease-in forwards;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}
.background-image 
{
    background-image: url("../Images/915136.png");
    min-height: 480px;
    height: 977px;
    width: 1880px;
    min-width: 640px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
    margin: 0;
}
.modal1
{
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}
.modal-content
{  
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
	background-color: #fefefe;
    position: relative;
	border: 1px solid #888;
	width: 450px;
    height: 430px;
	padding: 10px;
	opacity: 0.75;
    border-radius: 10px;
	margin: 5% auto 15% auto;	
}
.modal-content:hover
{
	opacity: 0.95;
}
.m2 
{
    
    height: 200px;
    background-color: #fefefe;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
	span.psw
	{
		display: block;
		float: none;
	}
}
.imgcontainer
{
	background-color: url("../Images/594713.jpg");
	margin: 24px 0 12px 0;
	position: relative;
	left: 50%;
}
img.avatar
{
	position: relative;
	text-align: center;
	width: 55%;
	border-radius: 60%;
}
.modal-container
{
	padding: 16px;
}
.information
{
    padding: 10px;
    display: block;
    font-size: 13px;
    height: 100px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    left: 10px;
    bottom: 190px;
    border-radius: 10px;
    z-index: 10;

}
.information2
{
    padding: 10px;
    display: block;
    font-size: 13px;
    height: 52px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    left: 10px;
    top: 82px;
    border-radius: 10px;
    z-index: 10;
    /*
    border-style: inset;
    border-width: 1px;
    */
    
}
.information-databases
{
    padding: 10px;
    display: block;
    
    font-size: 13px;
    height: 150px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    overflow: auto;
    z-index: 10;
    text-align: center;
}
.button3 
{

	text-align: center;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
	width: 90px;
	height: 40px;
	position: relative;
	background-image: url("../Images/billy-huynh-v9bnfMCyKbg-unsplash.jpg");
	margin: 10px;
	color: black;
	border: 1px solid #000000;
    border-radius: 10px;
}

.button3:hover
{
	color: white;
}
.button4
{
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	width: 90px;
	height: 40px;
	position: relative;
    background-position: left;
    background-size: cover;
	margin: 10px;
	color: black;
    background-color: white;
	border: 1px solid #000000;
    border-radius: 10px;
    transition-duration: 0.5s;

}

.button4:hover
{
	color: white;
    border: 1px solid white;
    background-position: center;
    background-color: black;
    color: white;
}

.return-button
{
    display: none;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	width: 90px;
	height: 40px;
	position: absolute;
    left: 850px;
    top: 70px;
	margin: 10px;
	color: black;
    background-color: white;
	border: 1px solid #000000;
    border-radius: 10px;
    transition-duration: 0.5s;  
    animation: fadeIn 1s ease-in forwards;  
    z-index: 2;
}

.textarea
{
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 500px;
    height: 100px;
    border-radius: 10px;
}
input[type = comment]
{
	width: 80%;
	padding: 15px;
	margin: 8px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	word-break: break-all;
    border-radius: 10px;
    height: 70px;
}
.line
{
	display: block;
	background-color: rgb(211, 211, 211);
	border-radius: 5px;
	height: 2px;
	width: 400px;
	left: 10%;
	position: absolute;
}
.line2
{
	display: block;
	background-color: rgb(211, 211, 211);
	border-radius: 5px;
	height: 2px;
	width: 400px;
	left: 2%;
	position: absolute;
}

input[type = text], input[type = number]
{
	width: 40%;
	padding: 5px;
	margin: 2px 0; 
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
    border-radius: 10px;
} 
input[type = var]
{
	width: 15%;
	padding: 5px;
	margin: 2px 0; 
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
    border-radius: 10px;
} 

input[type = submit]
{
    text-align: center;
    font-family: Arial;
}
.info-hider
{
    cursor: pointer;
    display: block;
	position: fixed;
	bottom: 320px;
    left: 10px;
    height: 30px;
    width: 30px;
	color: rgb(5, 5, 5);
    background-image: url("../Images/icons8-info-50.png");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.info-show
{
    cursor: pointer;
    display: block;
	position: fixed;
	bottom: 350px;
    left: 10px;
    height: 30px;
    width: 30px;
	color: rgb(5, 5, 5);
    background-image: url("../Images/icons8-info-50 (1).png");
    background-position: center;
    background-size: cover;
    z-index: 2;   
}

.createdb
{
	display: block;
	position: absolute;
	color:rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	top: 130px;
	left: 300px;
	width: 500px;
	height: 165px;
    z-index: 2;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 1s;
    opacity: 0;
}

.connectdb
{
	display: block;
	position: absolute;
	color:rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	top: 200px;
	left: 1000px;
	width: 500px;
	height: 165px;
    z-index: 2;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 1s;
    opacity: 0;
}

.tables
{
    display: block;
	position: absolute;
	color:rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	top: 190px;
	left: -1px;
	width: 500px;
	height: 435px;
    z-index: 2;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 1s;
    opacity: 0;
}


@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
	to
	{
		opacity: 1;
	}
}


.main
{
    display: block;
    position: absolute;
    background-color:rgb(120 124 107 / 80%);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    color: whitesmoke;
    border: 1px solid rgb(145, 145, 145);
    transition-duration: 0.5s;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
    
}
.main:hover
{
    border: 1px solid black;
}
.create-database
{

    top: 200px;
    background-image: url("../Images/");
    left: 50%;
    transform: translate(-90%, 0%); 
    
}
.login-database
{

    top: 200px;
    background-image: url("../Images/");
    left: 50%;
    transform: translate(13%, 0%); 
}

.about
{

    top: 430px;
    background-image: url("../Images/");
    left: 50%;
    transform: translate(13%, 0%); 
}

.logout
{

    top: 430px;
    background-image: url("../Images/");
    width: 322px;
    height: 221px;
    left: 50%;
    transform: translate(-90%, 0%); 

}
.tooltip 
{
  position: absolute;
  display: inline-block;
  border-bottom: 1px dotted rgb(197, 197, 197);
  left: 200px;
  top: 100px;
}

.tooltip .tooltiptext 
{
  visibility: hidden;
  width: 300px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 51px;
  left: 260%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  
}

.tooltip .tooltiptext::after 
{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext 
{
  visibility: visible;
  opacity: 1;
}

select
{
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid black;
    padding: 4px; 
    border-radius: 5px;
    width: 50px;
    height: 25px;
}




