body
{
    margin: 0px;
    overflow: hidden;
}

.text 
{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 3px;
}

.background-image 
{
    background-image: url("Images\\915134.png");
    min-height: 480px;
    height: 100%;
    width: 100%;
    min-width: 640px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.information
{
    padding: 10px;
    display: block;
    font-size: 16px;
    height: 150px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px white;
    color: white;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    
}

.container
{
    position: fixed;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    padding: 20px;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}
.modal1
{
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}
.modal-content
{
	background-color: #fefefe;
	margin: 5% auto 15% auto;	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 500px;
    height: 480px;
	padding: 10px;
	position: relative;
	top: 5%;
    border-radius: 10px;
	opacity: 0.9;
}
.modal-content:hover
{
	opacity: 1;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
	span.psw
	{
		display: block;
		float: none;
	}
	.cancelbtn
	{
		width: 100%;
	}
}

.cancelbtn
{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer
{
	background-color: url("Images\\594713.jpg");
	margin: 24px 0 12px 0;
	position: relative;
	left: 50%;
}

img.avatar
{
	position: relative;
	left: 25%;
	text-align: center;
	width: 55%;
	border-radius: 60%;
}

.modal-container
{
	padding: 16px;
}

span.psw
{
	float: right;
	padding-top: 16px;

}
input[type = text], input[type = password]
{
	width: 50%;
	padding: 15px;
	margin: 8px 0; 
	border: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
    border-radius: 10px;
	position: relative;
	left: 130px;
} 
.button3 
{
	padding: 15px 23px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	width: 100px;
	height: 50px;
	position: relative;
	left: 38%;
	background-image: url("Images\\billy-huynh-v9bnfMCyKbg-unsplash.jpg");
	margin: 10px;
	color: black;
	border: 1px solid #000000;
	border-radius: 10px;
}
a:visited
{
	color: rgb(0, 162, 255);
}
